---
layout: default
---

{% include lang.html %}


<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for projects in site.projects %}
    <article class="card-wrapper card">
      <a href="{{ projects.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}

        {% if projects.image %}
          {% assign src = projects.image.path | default: projects.image %}
          {% unless src contains '//' %}
            {% assign src = projects.media_subpath | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = projects.image.alt | xml_escape | default: 'Preview Image' %}

          {% assign lqip = null %}

          {% if projects.image.lqip %}
            {% capture lqip %}lqip="{{ projects.image.lqip }}"{% endcapture %}
          {% endif %}

          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
          </div>

          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ projects.title }}</h1>

            <div class="card-text content mt-0 mb-3">
              <p>
                {%- if post.excerpt -%}
                  {{ post.excerpt }}
                {%- else -%}
                  {%- include no-linenos.html content=post.content -%}
                  {{ content | markdownify | strip_html | truncate: 200 | escape }}
                {%- endif -%}
              </p>
            </div>

            <div class="projects-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <!-- posted date -->
                <i class="far fa-calendar fa-fw me-1"></i>
                {% include datetime.html date=projects.date lang=lang %}

                <!-- categories -->
                {% if projects.categories.size > 0 %}
                  <i class="far fa-folder-open fa-fw me-1"></i>
                  <span class="categories">
                    {% for category in projects.categories %}
                      {{ category }}
                      {%- unless forloop.last -%},{%- endunless -%}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>

              {% if projects.pin %}
                <div class="pin ms-1">
                  <i class="fas fa-thumbtack fa-fw"></i>
                  <span>{{ site.data.locales[lang].projects.pin_prompt }}</span>
                </div>
              {% endif %}
            </div>
            <!-- .projects-meta -->
          </div>
          <!-- .card-body -->
        </div>
      </a>
    </article>
  {% endfor %}
</div>
<!-- #projects-list -->